{% extends 'base.html' %}

{% block content %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Poll App</h1>
          <hr class="mt-0 mb-4">
<h1>{{ question.question_text }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<h3></h3>Add new answer</h3>
<form   method="post" class="form">
    {% csrf_token  %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>

</div>
</div>
</div>
{% endblock %}