{% extends 'polls/base.html' %}

{% block content %}
    <div class="container fluid">
      <div class="row justify-content-center">
        <div class="col">
          <h1 class="mt-2">Poll App</h1>
          <hr class="mt-0 mb-4">


{% load static %}


{% if latest_question_list %}
    <ul class="list-group">
      
    {% for question in latest_question_list %}
        <li class="list-group-item d-flex justify-content-between align-items-center"><a class="h4" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
          <span><a class=" btn btn-primary" href="{% url 'polls:addanswer' question.id %}">Add new answer</a></span></li>
      
        
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>

{% endif %}
<p><a class=" btn btn-primary" href="{% url 'polls:addpoll' %}">Add new pool</a></p>


        </div>
      </div>
    </div>
  {% endblock %}